body {
    background-size : cover;
}
.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(red, yellow, red);
    font-family: 'Mochiy Pop P One', sans-serif;
    color: black;
}
#start, #no_of_objects, #status {
    font-size: 18px;
}
.copy_right_footer {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(red, yellow, red);
    line-height: 3;
    text-align: center; 
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 20; 
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 83px;
    box-shadow: 5px 5px 5px white;
}